@import '../../styles/ainimations.scss';

.brand {
  font-size: 40px;
  margin-top: 40px;
  letter-spacing: 2px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 
    rgb(255, 255, 255) 0px 0px 10px, 
    rgb(255, 255, 255) 0px 0px 20px, 
    rgb(255, 0, 222) 0px 0px 30px, 
    rgb(255, 0, 222) 0px 0px 40px, 
    rgb(255, 0, 222) 0px 0px 10px, 
    rgb(255, 0, 222) 0px 0px 10px, 
    rgb(255, 0, 222) 0px 0px 100px;
  &.effect {
    animation-name: zoomInUp;
    @include easeAnimCfg;
  }
}